<div class="cartBox">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of carts; let index = index">
        <td></td>
        <td>{{ item.date | date:"shortDate" }}</td>
        <td>
          {{ item.products.length }}
        </td>
        <td>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-primary">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
